* {
    margin: 0px;
}

/*navigation start*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #012D5F;
}
  
.logo {
display: flex;
position: absolute;
left: 1rem;
}
  
#navlist {
    display: flex;
    list-style: none;
    padding: 1rem;
}
  
#navlist a {
    font-size: 1.75rem;
    padding: 1rem;
    text-decoration: none;
    color: #f0f0f0;
}
  
#navlist a:hover {
    background:  #AD961A;
}
/*navigation end*/

/*introduction start*/
#welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262262;
    font-size: 30px;
    background-image: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-picture {
    border: 5px solid #012D5F;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#introduction {
    font-size: 30px;
    color: #262262;
    text-align: center;
    padding: 50px;
}
/*introduction ends*/

/*skills start*/
#skills {
    background-color: #ececec;
    border: 4px dashed #012D5F;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#skills h1 {
    text-align: center;
}

#skills li {
    font-size: 1.5em;
    padding: 10px;
}
/*skills end*/

/*footer start*/
footer {
    text-align: center;
    font-family: "arial", sans, serif;
    color: #f0f0f0;
    background-color: #012D5F;
    padding: 20px;
  }
/*footer end*/